/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}
.input:focus {
  border-color: #3b82f6;
}